.box {
  width: 100vw;
  margin-left: 7vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: cover;
}

.text {
  margin-left: 7vw;
  font-size: calc(1vh + 1.5vw);
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1vh;
}
