.img {
  margin-top: 3vh;
  padding-left: 25vw;
  padding-right: 25vw;
  width: 50vw;
}

.imgPlaceholder {
  padding-left: 25vw;
  padding-right: 25vw;
  width: 50vw;
  height: 20vh;
}
.SignupBtn {
  border-radius: 50px;
  margin-top: 20vh;
}
