.BigBtn {
  align-items: center;
  display: flex;
  width: 90vw;
  height: 5vh;
  margin: 3vh 5vw 10vw 5vw;
  color: white;
  background-color: #517849;
  border-radius: 50px;
  text-decoration: none;
  justify-content: center;
  font-size: calc(1.25vw + 1.25vh);
  font-weight: bold;
  align-self: flex-end;
}
