.btn2 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 84vh;
  right: 5vw;
  width: 26vw;
  height: 5vw;
  font-size: 2em;
  text-align: center;
  border-radius: 50px;
  border: 4px double #14c145;
  box-shadow: 0.1px 5px 12px 0.5px rgb(174, 174, 174);
}

.btn2link {
  text-decoration: none; /* 밑줄 제거 */
  color: #14c145; /* 텍스트 색상을 검정색으로 고정 */
  align-self: center;
  font-size: 1em;
}

.btn2link:active,
.btn2link:focus,
.btn2link:hover {
  color: inherit; /* 눌렀을 때 색상이 변하지 않도록 설정 */
}
