/* HumidityGauge.css */
.drop {
  position: absolute;
  top: 35vh;
  left: 3.2vw;
  width: 9vw;
  height: auto;
}

.gaugeContainer {
  position: absolute;
  top: 32vh;
  left: 5vw;
  width: 5vw;
  height: 33vh;
  background: linear-gradient(to top, rgb(255, 159, 104), #2cfebf);
  position: relative;
  border-radius: 50px;
}

.polygonbox {
  position: absolute;
  top: 0.75vh;

  right: 5.5vw;
  width: 4.2vw;
}

.polygonbox img {
  left: 1vw;
  position: absolute;
  bottom: 0;
  width: 3vw;
  height: auto;
}

.gauge {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #efeeee;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
